<nav class="w-full flex flex-wrap items-center justify-between px-2 py-3 bg-black mb-3 fixed top-0 ">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white text-xl" routerLink="/AllBooks">
        Book-Kart
        </a>
        <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleMenu()">
            <ng-container *ngIf="!showMenu">
                <fa-icon [icon]="faBars"></fa-icon>
            </ng-container>
            <ng-container *ngIf="showMenu">
                <fa-icon [icon]="faTimes"></fa-icon>
            </ng-container>
        </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/AllBooks">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/MyBooks" >
            <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">My Books</span>
            </a>
        </li>
        <li>
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2" (click)="logout()">Logout from {{userName}}</span>
            </a>
        </li>
        </ul>
    </div>
    </div>
</nav>
